.navbar{
    background-color: #313131c4;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(222, 212, 200) !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(248, 213, 171) !important;
}

.navbar .navitems{
    max-width: inherit !important;
}

.navbar .logout{
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    margin-right: 10px;
}

.logout-button{
    transition: transform .2s;
}

.logout-button:hover{
    transform: scale(1.1);
}


section{
    min-height: 80vh;
}