.benefits{
    color: rgb(202, 202, 202);
    text-align: center;
}

.tipo{
    color: rgb(202, 202, 202);
    text-align: center;
}

.cart{
    position: fixed; 
    top: 50%;
    right: 10px;
    z-index: 1000;
}

.cart h6{
    background-color: #EAF480;
    border-radius: 50px 50px;
    padding: 2px;
    position: fixed; 
    top: 50%;
    right: 18px;
}

.coffe-cards{
    margin: 10px;
    background-color: rgba(54, 54, 54, 0.587) !important;
}

.coffes-variants {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divider{
    border:1px solid !important;
    color: aliceblue;
    margin: 0px !important;
}

.cabecera-init{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
