.Auth-form-container {
display: flex;
justify-content: center;
align-items: center;
width: auto;
height: 100vh;
}

.Auth-form {
width: 460px;
box-shadow: rgba(0, 0, 0, 0.301) 1px 1px 10px;
padding-top: 30px;
padding-bottom: 20px;
border-radius: 8px;
background-color: rgba(82, 82, 82, 0.384);
}

.Auth-form-content {
padding-left: 12%;
padding-right: 12%;
}

.Auth-form-title {
text-align: center;
margin-bottom: 1em;
}

.guesst{
color: rgb(216, 216, 216);
}

label {
font-size: 14px;
font-weight: 600;
color: rgb(216, 216, 216);
}