body{
  background-image: url("./components/images/wallpaper.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  font-family: Arial, Helvetica, sans-serif !important;
}